@using BlazorRestaurantApp.Data;
@using BlazorRestaurantApp.Services;
@using MudBlazor
@inject ILocalStorageService localStorageService;
@inject UserService userService;
@inherits LayoutComponentBase

<PageTitle>Ресторан</PageTitle>

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<div class="page">
    <div class="sidebar" style="border-right:solid; border-color:whitesmoke">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a target="_blank" href="/personalCardPage"> @userService.currentUser?.Firstname <p></p> </a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        User potentialUser = await localStorageService.GetAsync<User>("CurrentUser");
        if (potentialUser is not null)
        {
            userService.currentUser = potentialUser;
        }
    }
}
